* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #f0f0f0;
  height: 100%;
}

.container {
  background-color: #fff;
  margin: auto;
  min-height: 100%;
  padding: 24px;
  width: min(960px, 100%)
}

.contents {
  margin-top: 16px;
}

h2 {
  color: #55c500;
}

h2:has(span) {
  color: #4097db;
}
